apiVersion: apps/v1
kind: Deployment
metadata:
  name: notes-app-backend
  namespace: default
spec:
  replicas: 2
  selector:
    matchLabels:
      app: notes-app-backend
  template:
    metadata:
      labels:
        app: notes-app-backend
    spec:
      containers:
      - name: backend
        image: whosam1/notes-app-backend:latest
        ports:
        - containerPort: 8080
        env:
        - name: DB_HOST
          value: "notes-app-postgres"
        - name: DB_USER
          value: "postgres"
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: postgres-secret
              key: password
        - name: DB_NAME
          value: "notes_app"
        - name: DB_PORT
          value: "5432"
        - name: ENV
          value: "production"
        resources:
          requests:
            memory: "64Mi"
            cpu: "50m"
          limits:
            memory: "128Mi"
            cpu: "100m"
---
apiVersion: v1
kind: Service
metadata:
  name: notes-app-backend
  namespace: default
spec:
  selector:
    app: notes-app-backend
  ports:
  - port: 8080
    targetPort: 8080
